{% extends 'analyzer_app/base.html' %}

{% block title %}Home | Image Analyzer{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Image Analyzer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'show_images' %}">View Images</a></li>
        </ul>
      </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="mb-4">Welcome to the Image Analyzer</h1>

    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="{% url 'upload_file' %}" class="btn btn-primary btn-lg">Upload Images</a>
        <a href="{% url 'show_images' %}" class="btn btn-success btn-lg">View Filtered Images</a>
    </div>
</div>
{% endblock %}
